*{
    text-decoration: none;
    list-style: none;
}
/* scrollbar custom*/
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: var(--background-color);
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#7d50f9, #227eff);
    border-radius: 5px;
}

:root {
    --background-color: #efe7e5;
    --text-color: rgb(0, 0, 0);
}

body {
    font-family: 'Poppins';
    background-color: var(--background-color);
    color: var(--text-color);
}

.Logo a{
    color: var(--text-color);
}

.NavBar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    width: 97%;
}

.NavBar ul{
    display: flex;
    align-items: center;
    font-weight: 600;
    flex-wrap: wrap;
}

.NavBar ul li{
    display: flex;
    margin-left: 40px;
    cursor: pointer;  
}

.NavBar ul li a{
    color: var(--text-color);
}

.NavBar .menuHamburger{
    display: none;
    position: absolute;
    width: 35px;
    right: 40px;
    top: 28px;
}

/* Conteneur des cartes */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Style de chaque carte */
.cardKali {
    background-color: #ff222272;
     border: 1px solid rgb(125, 125, 125);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
}
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(125, 125, 125);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
}

.card-title {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;color: var(--text-color);
    margin-bottom: 15px;
}

.card-link {
    color: antiquewhite;
    font-size: 13px;
    font-weight: 500;
    background-color: #4000c9bf;
    width: 200px;
    border-radius: 8px;    
    padding: 10px 20px;
    box-shadow: 0 0 10px 10px #783affbf;
}

/*-----------------------------------------------------------------------------------------------RESPONSIVE MENU HAMBURGER---------------------------------------------------------------------------------------------------------*/
/*Responsive à partir du format 1090px*/
@media screen and (max-width: 1090px) {
    .NavBar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .NavBar .nav-links {
        z-index: 2;
        position: absolute;
        display: flex;
        background-color: rgba(126, 0, 251, 0.315);
        backdrop-filter: blur(7px);
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        align-items: center;
        margin-left: -100%;
        transition: all 0.8s ease;
    }
    .nav-links.mobile-menu {
    margin-left: 0;
    }
    .NavBar .nav-links ul li{
        margin: 22px 0;
        font-size: 20px;
        margin-left: 70px;        
    }
    .NavBar .menuHamburger{
        display: block;
        z-index: 2;
    }
}